@using global::Thermo.Application.Models
@using Web.Helpers

<div>
    <LineChart @ref="_temperatureLineChart" />
</div>

@code {
    [Parameter] 
    public GetAllMeasurements.MeasurementsViewModel Measurements { get; set; } = default!;
    
    private LineChart _temperatureLineChart = default!;
    private LineChartOptions _temperatureLineChartOptions = default!;
    private ChartData _temperatureChartData = default!;
    
    protected override Task OnInitializedAsync()
    {
        SetupTemperatureChart(Measurements);
        return Task.CompletedTask;
    }
    
    protected override Task OnParametersSetAsync()
    {
        SetupTemperatureChart(Measurements);
        return Task.CompletedTask;
    }
    
    private void SetupTemperatureChart(GetAllMeasurements.MeasurementsViewModel measurements)
    {
        var datasets = new List<IChartDataset>();
        var colorIndex = ChartHelper.ColorsPalette.Lightseagreen;

        foreach (var room in Rooms.AllRooms)
        {
            var dataset = ChartHelper.CreateLineChartDataset(room, GetTemperaturesFromRoom(room, measurements), colorIndex);
            datasets.Add(dataset);
            colorIndex++;
        }
        
        _temperatureChartData = new ChartData {Labels = measurements.Labels, Datasets = datasets};
        _temperatureLineChartOptions = ChartHelper.CreateDefaultLineChartOptions("Température", "Date", "Température");
    }
    
    private static List<double> GetTemperaturesFromRoom(string room, GetAllMeasurements.MeasurementsViewModel measurements) => 
        measurements.Temperatures.Where(m => m.Room == room).Select(m => m.Temperature).ToList();
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _temperatureLineChart.InitializeAsync(_temperatureChartData, _temperatureLineChartOptions);
        }

        await _temperatureLineChart.UpdateAsync(_temperatureChartData, _temperatureLineChartOptions);
        await base.OnAfterRenderAsync(firstRender);
    }
}